body { color: #141414; 
  
    background-color: #6aa57e; 

     font-family: Georgia; 
     
    

h1{

font-family: sans-serif;
color:  rgba(15, 15, 15, 0.267); 
background-color: #f5eeda;  
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}